<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A BaseViewController subclass.</string>
	<key>Summary</key>
	<string>A BaseViewController subclass.</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>DefaultCompletionName</key>
	<string>View</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>View:</string>
			<key>Description</key>
			<string>The name of the view to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Base view class that the new class will be a subclass of</string>
			<key>Default</key>
			<array>
				<string>BaseView</string>
			</array>
			<key>Identifier</key>
			<string>subclass</string>
			<key>Name</key>
			<string>Subclass of:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>BaseView</string>
				<string>BaseTableViewCell</string>
				<string>BaseCollectionViewCell</string>
			</array>
			<key>Suffixes</key>
			<dict>
				<key>BaseView</key>
				<string>View</string>
				<key>BaseTableViewCell</key>
				<string>Cell</string>
				<key>BaseCollectionViewCell</key>
				<string>Cell</string>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>XIB</string>
			<key>Name</key>
			<string>Also create XIB file</string>
			<key>Description</key>
			<string>Whether to create a XIB file with the same name</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>Action</string>
			<key>Name</key>
			<string>Default Action Definitions</string>
			<key>Description</key>
			<string>Create a syntax for the default action type definition</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
